* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headerIframe {
    height: 350px;
}

#headerIframe.active-header {
    height: 950px;
}
#showPage{
    height: 300vh;
    padding: 10px;
}
iframe {
    display: block;
    border: none;
    width: 100%;
}

#footer {
    height: 332px;
}

@media only screen and (max-width:1420px) {
    #headerIframe {
        height: 430px;
    }
}

@media only screen and (max-width:770px) {
    #headerIframe {
        height: 850px;
    }
}

@media only screen and (max-width:455px) {
    #headerIframe {
        height: 550px;
    }
}