* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "MuseoSansCyrl300";
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
        url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: "MuseoSansCyrl300", sans-serif;
}

.header-container {
    width: 100%;
    background: rgba(245, 248, 250, 1);
    height: 100%;
}

.header-content {
    max-width: 1920px;
    padding: 0px 60px;
    margin: auto;
    height: 57px;
}


.header-content-in {
    width: 100%;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.header-left {
    display: inline-flex;
    top: 16px;
}

.header-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    text-align: left;
}

.header-icon {
    position: relative;
    width: 24px;
    top: 2px;
    height: 24px;
}

.header-icon img {
    display: block;
}

.error-img-out {
    left: 2px;
    border: 1.5px;
    width: 20px;
    height: 17.33px;
}

.error-img-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 4px;
}

.header-top {
    height: 100%;
}

.logo-top {
    display: none;
    top: 10px;
    position: fixed;
    width: 40px;
}

.logo-top img {
    height: 40px;
    width: 40px;
}

.header-right {
    display: inline-flex;
    right: 0px;
}

.phone-number {
    width: 206px;
    height: 25px;
    top: 16px;
    gap: 6px;
    opacity: 0px;

}

.phone-number img {
    width: 20px;
    height: 20.01px;
    top: 0px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
}

.phone-number span {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;

}

.email {
    display: inline-flex;
    height: 25px;
    top: 16px;
    gap: 6px;
    opacity: 0px;

}

.email span {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.email img {
    margin-top: 1px;
    width: 20px;
    height: 18.33px;
    top: 0.83px;
    gap: 0px;
    opacity: 0px;
}

.middle-container {
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
}

.middle-content {
    max-width: 1920px;
    padding: 0px 60px;
    margin: auto;
}

.middle-content-in {
    margin-top: 30px;
    display: inline-flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.middle-text {
    display: inline-flex;
    width: 786px;
    top: 89px;
    left: 60px;
    gap: 12px;
    opacity: 0px;
}

.middle-text .logo {
    width: 80px;
    height: 80px;
    padding: 0.85px 6.15px 0.99px 9.25px;
    gap: 0px;
    opacity: 0px;

}

.logo img {
    width: 74px;
    height: 78.16px;
    top: 0.85px;
    left: 9.25px;
    gap: 0px;
    opacity: 0px;
}

.middle-text .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 694px;
    height: 70px;
    gap: 4px;
    opacity: 0px;

}

.text .title {
    font-size: 20px;
    color: rgba(131, 136, 144, 1);
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}

.text .body {
    color: rgba(17, 22, 30, 1);
    font-size: 23px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.middle-btns {
    display: inline-flex;
    max-width: 908px;
    margin-top: 10px;
    left: 952px;
    gap: 12px;
    opacity: 0px;
}

.middle-btns .btn {
    display: inline-flex;
    background: rgba(245, 248, 250, 1);
    height: 51px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid rgba(221, 226, 234, 1);
    opacity: 0px;
}

.btn p {
    font-size: 19px;
    font-weight: 300;
    line-height: 26.6px;
    color: rgba(131, 136, 144, 1);
    text-align: left;
}

.btn img {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
}

.btn .drop-down {
    width: 10px;
    margin: auto;
    height: 5px;
}

.btn {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.btn .instagram-icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.btn .instagram-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn .instagram-icon .inst-border {
    width: 24px;
    height: 24px;
}

.btn .instagram-icon .inst-crcle {
    width: 12px;
    height: 12px;
}

.btn .instagram-icon .inst-dot {
    width: 4px;
    transform: translate(100%, -180%);
    height: 4px;
}

.bottom {
    background-color: rgba(6, 73, 110, 1);
}

.bottom-in {
    margin: auto;
    max-width: 1920px;
    height: 100%;
    padding: 0 60px;
}

.bottom-content {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.footer-add {
    display: flex;
    align-items: center;
}

.footer-add img {
    width: 32px;
    height: 32px;
}

.gamburger {
    padding: 25px 0px;
}

.gamburger i {
    color: white;
    cursor: pointer;
    display: none;
    font-size: 20px;
}

.menu-ul {
    z-index: 11;
    margin-left: 20px;
    font-size: 19px;
    color: white;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.menu-ul li {
    cursor: pointer;
}

.li-content {
    padding: 10px 15px;
    position: relative;
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    text-align: left;
    width: 100%;
    display: inline-flex;
    align-items: center;


}

.popup-li-content {
    position: absolute;
    background-color: rgba(6, 73, 110, 1);
    padding: 10px;
    border-top: 5px #6ecdf0 solid;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.popup-li-content ul {
    width: 350px;
    padding: 10px;
    list-style: none;
}

.child-ul-content-in {
    border-top: 5px solid #6ecdf0;

}

.menu-icon {
    margin-left: 10px;
    width: 10px;
    height: 5px;
}

.child-menu-icon {
    width: 5px;
    margin-left: 10px;
    height: 10px;
}

.popup-li-content ul li {}

.popup-li-content ul li:hover {
    background-color: rgba(30, 91, 124, 1);
    transition: 0.3s all ease-in-out;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.popup-li-content ul li:hover .menu-active-line {
    width: 15px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-li-content ul li:hover .menu-active-line .menu-active-line-in {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.child-ul-content {
    position: relative;
}

.child-content-box {
    width: 100%;
    padding: 5px 0px 5px 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.child-ul-content-in {
    position: absolute;

    top: -10px;
    /* dynamic */
    left: calc(100% + 20px);

    width: 100%;

    background-color: rgba(6, 73, 110, 1);
    padding: 10px;
}

.child-ul-content-in li {
    padding: 5px 10px;
}

.footer-container {
    margin-top: 10px;
    height: 100px;
    background-color: #6ecdf0;
    width: 100%;
}
@media only screen and (max-width:1840px){
    .li-content{
        font-size: 18px;
    }
}
@media only screen and (max-width:1810px){
    .btn p{
        font-size: 17px;
    }
}
@media only screen and (max-width:1782px) {
    .middle-btns .btn p {
        font-size: 16px;
        line-height: 20px;
    }

    .middle-btns .btn .drop-down {
        width: 8px;
        margin-bottom: 15px;
        height: 4px;
    }

    .middle-btns .btn img {
        width: 20px;
        height: 20px;
    }

    .middle-text .logo img {
        width: 65px;
        height: 65px;
    }

    .btn .instagram-icon .inst-crcle {
        width: 9px;
        height: 9px;
    }

    .btn .instagram-icon .inst-border {
        width: 20px;
        height: 20px;
    }

    .btn .instagram-icon .inst-dot {
        transform: translate(34%, -157%);
    }

    .middle-text {
        width: 685px;
    }

    .middle-text .text .title {
        font-size: 17px;
    }

    .middle-text .text .body {
        font-size: 20px;
    }

    .li-content {
        font-size: 17px;
    }
}

@media only screen and (max-width:1756px) {
    .li-content {
        font-size: 16px;
    }
}
@media only screen and (max-width:1721px) {
    .li-content {
        font-size: 15px;
    }
}

@media screen and (max-width:1632px) {
    .select-container label {
        margin-left: 0px;
    }
}
@media screen and (max-width:1613px) {
    .li-content {
        font-size: 13px;
    }
    .middle-btns .btn p{
        font-size: 14px;
    }
}

@media only screen and (max-width:1602px) {
    .select-container label {
        font-size: 19px;
        margin-left: 0px;
    }
}

@media only screen and (max-width:1595px) {
    .popup-li-content ul {
        width: 200px;
    }
}

@media only screen and (max-width:1590px) {
    .middle-btns .btn p {
        font-size: 14px;
    }

    .show-footer img {
        width: 25px;
        height: 25px;
    }

    .select-container label span {
        font-size: 16px;
    }

    .select-container label img {
        width: 8px;
        height: 3px;
    }

    .middle-btns .btn .drop-down {
        width: 7px;
        height: 3px;
        margin-bottom: 7px;
    }

    .middle-btns .btn img {
        width: 14px;
        height: 14px;
    }

    .middle-text .logo {
        margin-top: 0px;
    }

    .middle-text .logo img {
        width: 55px;
        height: 55px;
    }

    .btn .instagram-icon {
        height: 20px;
    }

    .btn .instagram-icon .inst-crcle {
        width: 7px;
        height: 7px;
    }

    .middle-btns .btn {
        height: 40px;
        padding: 10px 14px;
    }

    .btn .instagram-icon .inst-border {
        width: 17px;
        height: 17px;
    }

    .middle-text {
        width: 600px;
    }

    .middle-text .text {
        height: 50px;
    }

    .middle-text .text .title {
        font-size: 15px;
        line-height: 40px;
    }

    .middle-text .text .body {
        font-size: 17px;
        line-height: 10px;
    }

    .phone-number {
        width: 180px;
    }

    .phone-number img {
        /* margin-top: 10px; */
        height: 16px;
        width: 16px;
    }

    .phone-number span {
        font-size: 15px;
    }

    .email img {
        margin-top: 3px;
        height: 16px;
        width: 16px;
    }

    .email span {
        font-size: 15px;
    }
}

@media only screen and (max-width:1550px) {
    .header-content {
        padding: 0px 30px;
    }

    .middle-content {
        padding: 0px 30px;
    }

    .bottom-in {
        padding: 0px 30px;
    }
}
@media only screen and (max-width:1564px) {
    .li-content{
        padding: 10px 12px;
    }
}

@media only screen and (max-width:1505px) {
    .li-content {
        padding: 10px;
    }
}
@media only screen and (max-width:1440px){
    .li-content{
        font-size: 14px;
    }
}
@media only screen and (max-width:1420px) {
    .popup-li-content ul {
        width: 240px;
    }

    .middle-content-in {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .middle-btns .btn p {
        font-size: 15px;
    }

    .middle-btns .btn .drop-down {
        width: 10px;
        height: 5px;
    }

    .middle-btns .btn img {
        width: 15px;
        height: 15px;
    }

    .middle-text .logo {
        margin-top: 0px;
    }

    .middle-text .logo img {
        width: 65px;
        height: 65px;
    }

    .btn .instagram-icon {
        height: 16px;
    }

    .btn .instagram-icon .inst-crcle {
        width: 7px;
        height: 7px;
    }

    .btn .instagram-icon .inst-dot {
        width: 2px;
        transform: translate(100%, -267%);
        height: 2px;
    }

    .middle-btns .btn {
        height: 40px;
        padding: 10px 8px;
    }

    .btn .instagram-icon .inst-border {
        width: 15px;
        height: 15px;
    }

    .middle-text {
        display: flex;
        justify-content: center;
        width: 700px;
    }

    .middle-text .text {
        height: 50px;
    }

    .middle-text .text .title {
        font-size: 15px;
        line-height: 50px;
    }

    .middle-btns {
        margin-top: 20px;
    }

    .middle-btns .btn p {
        line-height: 17px;
    }

    .middle-text .text .body {
        font-size: 20px;
        line-height: 10px;
    }

    /* .bottom {
        margin-top: 80px;
    } */
}

@media only screen and (max-width:1392px) {
    .select-container label span {
        font-size: 14px;
    }
}

@media only screen and (max-width:1380px) {
    .li-content {
        font-size: 12px;
    }
}

@media only screen and (max-width:1360px) {
    .header-content {
        padding: 0px 30px;

    }

    .bottom-in {
        padding: 0px 30px;
    }
}

@media only screen and (max-width:1302px) {

    .show-footer {
        position: absolute;
        padding: 20px;
        left: 0px;
        top: 0px;
    }

}

@media only screen and (max-width:1278px) {
    .li-content{
        padding: 8px;
    }
    .footer-add {
        padding: 20px 0px;
        align-items: start;
    }
}

@media only screen and (max-width:1260px) {
    .menu-ul {
        display: none;
        height: max-content;
        justify-content: center;
        flex-direction: column;
    }

    .gamburger i {
        display: flex;
    }

    .main-menu {
        width: 100%;
    }


    .child-ul-content-in {
        background-color: rgba(30, 91, 124, 1);

    }

    .popup-li-content {
        /* top: calc(100% + 5px); */
        background-color: rgba(30, 91, 124, 1);
        left: 100%;
        transform: translateX(0%);
    }

    .li-content {
        font-size: 16px;
    }
}

@media only screen and (max-width:1222px) {
    .popup-li-content ul {
        width: 160px;
    }

    .popup-li-content {
        z-index: 11;
    }
}

@media only screen and (max-width:970px) {

    .header-text p {
        font-size: 14px;
    }

    .middle-btns .btn p {
        font-size: 14px;
    }

    .middle-btns {
        margin-top: 2px;
    }

    .middle-btns .btn .drop-down {
        width: 8px;
        height: 4px;
    }

    .middle-btns .btn img {
        width: 15px;
        height: 15px;
    }

    .middle-text .logo img {
        width: 50px;
        height: 50px;
    }

    .btn .instagram-icon {
        height: 16px;
    }

    .btn .instagram-icon .inst-crcle {
        width: 6px;
        height: 6px;
    }

    .middle-btns .btn {
        height: 40px;
        padding: 10px;
    }

    .btn .instagram-icon .inst-border {
        width: 15px;
        height: 15px;
    }

    .middle-text {
        width: 550px;
        display: flex;
        justify-content: center;
    }

    .middle-text .text {
        height: 50px;
    }

    .middle-text .text .title {
        font-size: 13px;
        line-height: 30px;
    }

    .header-icon .error-img-in {
        width: 4px;
        transform: translate(-130%, -80%);
        height: 8px;
    }

    .header-icon .error-img-out {
        margin-top: 1px;
        width: 15px;
        height: 15px;
    }

    .middle-text .text .body {
        font-size: 15px;
        line-height: 10px;
    }

    .middle-text .logo {
        margin: 0px 0px 0px 20px;
    }

    .email img {
        margin-top: 4px;
        width: 15px;
        height: 14px;
    }

    .email span {
        font-size: 13px;
    }

    .phone-number img {
        margin-top: 4px;
        width: 15px;
        height: 14px;
    }

    .phone-number {
        width: 154px;
    }

    .middle-content-in {
        margin-top: 10px;
    }

    .phone-number span {
        font-size: 13px;
    }
}



@media only screen and (max-width:770px) {
    .middle-btns {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .middle-btns .btn p {
        font-size: 20px;
        /* letter-spacing: 5px; */
    }

    .middle-text .logo {
        margin: 5px 0px 0px 20px;
    }

    .middle-btns .btn .drop-down {
        right: 10px;
        width: 12px;
        height: 6px;
        position: absolute;
        top: 15px;
    }

    .middle-btns .btn img {
        width: 20px;
        height: 20px;
    }

    .middle-text .logo img {
        width: 55px;
        height: 50px;
    }

    .btn .instagram-icon {
        height: 20px;
    }

    .btn .instagram-icon .inst-crcle {
        width: 10px;
        height: 10px;
    }


    .btn .instagram-icon .inst-dot {
        width: 3px;
        height: 3px;
        transform: translate(95%, -228%);
    }


    .middle-btns .btn {
        width: 100%;
        height: 40px;
        padding: 10px;
    }

    .btn .instagram-icon .inst-border {
        width: 20px;
        height: 20px;
    }

    .footer-add {
        padding: 20px 0px;
    }

    .gamburger {
        padding: 25px 0px;
    }
}

@media only screen and (max-width:625px) {
    .header-content-in {
        flex-direction: column;
    }
}

@media only screen and (max-width:581px) {
    .middle-text .logo img {
        width: 50px;
        height: 40px;
    }

    .middle-text {
        width: 100%;
    }

    .middle-text .text .title {
        font-size: 10px;
    }

    .middle-text .text .body {
        font-size: 12px;
    }

    .middle-btns .btn img {
        width: 17px;
        height: 17px;
    }

    .middle-btns .btn p {
        font-size: 14px;
    }
}

@media only screen and (max-width:545px) {
    .popup-li-content {
        left: 0%;
        transform: translateX(0%);
        z-index: 1;
    }
}

@media only screen and (max-width:537px) {
    .middle-text .text {
        height: 30px;
    }
}

@media only screen and (max-width:533px) {

    .middle-content {
        padding: 0px 10px;
    }

    .middle-text .logo {
        padding-left: 0px;
        margin: 0px;
        height: 60px;
    }

    .middle-btns {
        margin-top: 10px;
    }

    .logo-top {
        display: flex;
    }

    .header-content {
        padding: 0px 10px;
    }

    .header-content-in {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text .title {
        font-size: 10px;
    }

    .text .body {
        font-size: 12px;
    }

    .bottom-in {
        padding: 0px 10px;
    }

    .show-footer {
        padding: 20px 10px 0px 0px;
    }

    .email {
        width: 90px;
    }

    .middle-btns .btn .drop-down {
        width: 10px;
        height: 4px;
    }

    .middle-btns .btn {
        min-width: 90%;
    }
}

@media only screen and (max-width:438px) {
    .middle-text .text .title {
        font-size: 8px;
    }

    .middle-text .text .body {
        font-size: 9px;
    }
}
@media only screen and (max-width:420px) {
    .middle-text .text .title {
        font-size: 9px;
    }

    .middle-text .text .body {
        font-size: 10px;
    }
}

@media only screen and (max-width:400px) {
    .middle-text .logo {
        width: 40px;
    }
}