* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    margin-top: 10px;
    height: 100px;
}

.menu-ul.active {
    display: flex;
}

.bottom.active {
    height: 430px;
}

iframe {
    display: block;
    border: none;
    width: 100%;
}
