* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 50px auto 0;
    padding: 0 60px;
}

@font-face {
    font-family: "MuseoSansCyrl300";
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
        url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: "MuseoSansCyrl300", sans-serif;
}

.header {
    width: 100%;
}

.header-in {
    display: flex;
    flex-direction: row;
}

.header-title {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-img {
    display: flex;
    flex-direction: row;
}

.hedaer-bar {
    display: flex;
    flex-direction: column;
}