* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 30px auto 0;
    padding: 0 60px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.title {
    display: inline-flex;
    align-items: center;
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    color: rgba(160, 164, 170, 1);
    text-align: left;
}

.title img {
    width: 5px;
    height: 10px;
    margin: 0 10px;
}

.title span {
    color: rgba(88, 92, 100, 1);
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.text {
    font-family: Museo Sans Cyrl;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    margin-top: 10px;
}

.content-body {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.body-text {
    font-family: Museo Sans Cyrl;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.body-img img {
    padding: 0 10px;
    width: 584px;
    object-fit: cover;
    height: 450px;
    border-radius: 8px;
}

.body-main {
    display: flex;
}

.body-bar {
    height: max-content;
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 238, 245, 1);
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(6, 73, 110, 0.1);
}

.bar-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-bar {
    font-family: Museo Sans Cyrl;
    color: rgba(6, 73, 110, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    width: max-content;
    /* Ensure the width is only as wide as the content */
}

.body-bar .bar-underline {
    height: 2px;
    margin-top: 10px;
    background: url('/image/markaz_tarixi/line_bar.png') no-repeat;
    background-size: contain;
    width: 100%;
    /* Match the width of the container */
    align-self: stretch;
    /* Ensure it stretches to fit the container */
}

.cards {
    display: flex;
    width: 1420px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.body-card {
    width: 705px;
    padding: 24px;
    margin-top: 20px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 238, 245, 1);
    box-shadow: 0px 4px 20px 0px rgba(6, 73, 110, 0.1);
    flex-direction: row;
    border-radius: 12px;
}

.card-img img {
    width: 203px;
    height: 240px;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text-content {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
}

.card-title {}

.card-title p {
    font-family: Museo Sans Cyrl;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: rgba(6, 73, 110, 1);
}

.card-title span {
    font-family: Museo Sans Cyrl;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: rgba(131, 136, 144, 1);
}
.span-bar {
    margin-top: 15px;
    color: rgba(17, 22, 30, 1);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    line-height: 28px;
    text-align: left;
    transition: 0.4s all ease-in-out;
}

.active-bar {
    transform: translateX(10%);
    color: rgba(6, 73, 110, 1);
}

.active-child-bar {
    transform: translateX(10%);
    color: rgba(6, 73, 110, 1);
}

.span-bar:hover {
    transform: translateX(10%);
    color: rgba(0, 60, 93, 1);
}
.card-info {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.card-bottom {
    display: flex;
    flex-direction: column;
}

.card-bottom span {
    font-family: Museo Sans Cyrl;
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    text-align: left;
    color: rgba(131, 136, 144, 1);
}

.email {
    margin-left: 20px;
}

.card-bottom p {
    font-family: Museo Sans Cyrl;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(6, 73, 110, 1);
}

.bar-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-content {
    color: rgba(0, 60, 93, 1);
    font-family: Museo Sans Cyrl;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    line-height: 33.6px;
    text-align: left;
}

.show-option {
    margin-top: 15px;
    font-family: Museo Sans Cyrl;
    color: rgba(17, 22, 30, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.show-option:hover {
    color: rgba(6, 73, 110, 1);
}

.show-options-container {
    display: block;
    font-size: 20px;
    flex-direction: column;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.show-options-container p {
    margin-top: 15px;
}

/* Media Queries */
@media only screen and (max-width:1876px) {
    .cards {
        width: 1350px;
    }

    .body-card {
        width: 650px;
    }
}

@media only screen and (max-width:1872px) {
    .cards {
        width: 1400px;
    }

    .body-card {
        width: 690px;
    }
}

@media only screen and (max-width:1850px) {
    .cards {
        width: 1350px;
    }

    .body-card {
        width: 650px;
    }
}

@media only screen and (max-width:1796px) {
    .cards {
        width: 1300px;
    }

    .body-card {
        width: 630px;
    }
}



@media only screen and (max-width:1793px) {
    .cards {
        max-width: 1300px;
    }

    .body-card {
        max-width: 600px;
    }
}

@media only screen and (max-width:1769px) {
    /* .cards {
        max-width: 1100px;
    }

    .body-card {
        max-width: 530px;
    } */
}

@media only screen and (max-width:1754px) {
    .cards {
        max-width: 1200px;
    }

    .body-card {
        max-width: 550px;
    }
}

@media only screen and (max-width:1730px) {
    .body-main {
        flex-direction: column;
    }

    .body-img img {
        padding: 0;
    }

    .body-bar {
        margin-top: 20px;
    }
}

@media only screen and(max-width:1654px) {
    .cards {
        max-width: 1100px;
    }

    .body-card {
        max-width: 530px;
    }
}

@media only screen and (max-width:1576px) {
    .cards {
        max-width: 1020px;
    }

    .body-card {
        max-width: 500px;
    }
}

@media only screen and (max-width:1541px) {
    .cards {
        max-width: 1020px;
    }

    .body-card {
        max-width: 500px;
    }

    .card-title p {
        font-size: 15px;
    }

    .card-title span {
        font-size: 15px;
        line-height: 20px;
    }

    .card-img img {
        width: 180px;
        height: 200px;
    }

    .card-bottom p {
        font-size: 13px;
    }

    .card-bottom span {
        font-size: 10px;
    }
}

@media only screen and (max-width:1464px) {
    .cards {
        /* display: flex; */
        flex-direction: column;
        width: 950px;
    }

    .body-card {
        min-width: 900px;
    }

    .card-title p {
        font-size: 30px;
    }

    .card-title span {
        font-size: 20px;
    }

    .card-img img {
        width: 300px;
        height: 300px;
    }

    .card-bottom p {
        font-size: 20px;
    }

    .card-bottom span {
        font-size: 18px;
    }

    .card-info {
        margin-top: 60px;
    }
}

@media only screen and (max-width:1360px) {
    .container {
        padding: 0 30px;
    }

    .body-img img {
        width: 500px;
        height: 450px;
    }
}

@media only screen and (max-width:1220px) {
    .cards {
        width: 800px;
    }

    .body-card {
        min-width: 750px;
    }

}

@media only screen and (max-width:1085px) {
    .content-body {
        flex-direction: column;
    }

    .body-main {
        margin-top: 20px;
        justify-content: space-between;
        flex-direction: row;
    }

    .body-bar {
        margin-left: 10px;
        margin-top: 0;
    }
}

@media only screen and (max-width:930px) {
    .body-img img {
        width: 440px;
        height: 380px;
    }

    .show-options-container {
        display: flex;
        flex-direction: column;
        word-break: break-word;
        overflow-wrap: break-word;
    }
}

@media only screen and (max-width:916px) {
    .body-main {
        flex-direction: column;
    }

    .body-bar {
        margin-top: 10px;
        margin-left: 0px;
    }

    .body-img {
        width: 100%;
    }

    .body-img img {
        width: 100%;
        /* height: 500px; */
    }
}

@media only screen and (max-width:840px) {
    .cards {
        max-width: 700px;
    }

    .body-card {
        min-width: 600px;
    }
}

@media only screen and (max-width:742px) {
    .cards {
        max-width: 600px;
    }

    .body-card {
        min-width: 500px;
    }

    .card-title p {
        font-size: 20px;
    }

    .card-title span {
        font-size: 10px;
    }

    .card-img img {
        width: 200px;
        height: 200px;
    }

    .card-bottom p {
        font-size: 10px;
    }

    .card-bottom span {
        font-size: 15px;
    }

}

@media only screen and (max-width:623px) {
    .cards{
        max-width: 300px;
    }
    .card-img img {
        width: 300px;
        height: 300px;
    }
    .body-card {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    } 
}
