@font-face {
    font-family: "MuseoSansCyrl300";
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
    src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
        url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: "MuseoSansCyrl300", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 50px auto 0;
    padding: 0 60px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-title {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.title {
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    color: rgba(160, 164, 170, 1);
    text-align: left;
}

.title img {
    width: 5px;
    height: 10px;
    margin: 0 10px;
}

.title span {
    color: rgba(88, 92, 100, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.text {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
}

.content-body {
    margin-top: 10px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.body-text {
    gap: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    line-height: 28px;
}

.body-img img {
    width: 584px;
    object-fit: cover;
    height: 450px;
    border-radius: 8px;
}

.body-main {
    display: flex;
}

.body-bar {
    height: max-content;
    width: 340px;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 238, 245, 1);
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(6, 73, 110, 0.1);
}

.bar-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.body-text .body-content {
    margin-top: 20px;
    padding-right: 10px;
}

.card-bottom-download-container {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.title-bar {
    color: rgba(6, 73, 110, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
}

.body-bar .bar-underline {
    width: 100%;
    height: 2px;
    background: url('/image/markaz_tarixi/line_bar.png') no-repeat;
    background-size: contain;
}

.body_text_in {
    gap: 29px;
    display: flex;
    flex-direction: column;
}

.card-body-content {
    background: rgba(245, 248, 250, 1);
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgba(221, 226, 234, 1)
}

.card-body-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(17, 22, 30, 1);
}

.card-body-content span img {
    width: 20px;
    margin-left: 3px;
    height: 20px;
}

.card-body-content span {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: rgba(0, 166, 81, 1);
}

.card-date p {
    margin-top: 0px;
    color: rgba(131, 136, 144, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.cards {
    display: flex;
    width: 1410px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.body-card {
    width: 705px;
    padding: 24px;
    margin-top: 20px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 238, 245, 1);
    box-shadow: 0px 4px 20px 0px rgba(6, 73, 110, 0.1);
    flex-direction: row;
    border-radius: 12px;
}

.card-bottom-download {
    background: rgba(245, 248, 250, 1);
    border: 1px solid rgba(221, 226, 234, 1);
    border-radius: 12;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
}

.card-bottom-download p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(17, 22, 30, 1);
}

.size-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: rgba(131, 136, 144, 1);
}

.download-btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    display: flex;
    justify-content: right;
    color: rgba(0, 166, 81, 1);
}

.card-img img {
    width: 203px;
    height: 240px;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text-content {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
}

.card-title {}

.card-title p {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: rgba(6, 73, 110, 1);


}

.card-title span {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: rgba(131, 136, 144, 1);
}

.card-info {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.download-bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-exel {
    margin-top: 10px;
    display: inline-flex;
    padding: 4px;
    width: max-content;
    background: rgba(234, 238, 245, 1);
    gap: 10px;
    border-radius: 16px;
}

.table-exel p {
    padding: 5px 50px;
}

.exel-img {
    max-width: 100%;
}

.exel-img img {
    width: 100%;
}

.active_date_table {
    padding: 0px 25px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px 0px rgba(17, 22, 30, 0.1);
    border-radius: 12px;
}

.card-bottom {
    display: flex;
    flex-direction: column;
}

.card-bottom span {
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    text-align: left;
    color: rgba(131, 136, 144, 1);
}

.email {
    margin-left: 20px;
}

.card-bottom p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(6, 73, 110, 1);
}


.bar-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-content {
    color: rgba(0, 60, 93, 1);
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    line-height: 33.6px;
    text-align: left;
}

.span-bar {
    margin-top: 15px;
    color: rgba(17, 22, 30, 1);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    line-height: 28px;
    text-align: left;
    transition: 0.4s all ease-in-out;
}

.active-bar {
    transform: translateX(10%);
    color: rgba(6, 73, 110, 1);
}

.active-child-bar {
    transform: translateX(10%);
    color: rgba(6, 73, 110, 1);
}

.span-bar:hover {
    transform: translateX(10%);
    color: rgba(0, 60, 93, 1);
}

.text-indent {
    text-indent: 20px;
}

.show-options-container {
    display: flex;
    font-size: 20px;
    gap: 12px;
    flex-direction: column;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.show-options-container p {
    margin-top: 10px;
}

@media only screen and (max-width: 1730px) {
    .body-main {
        flex-direction: column;
    }

    .body-bar {
        width: 100%;
    }

    .body-img img {
        padding: 0;
    }

    .body-bar {
        width: 350px;
    }
}

@media only screen and (max-width:1550px) {
    .container {
        padding: 0px 30px;
    }

    .body-text {
        flex-direction: column-reverse;
    }

    .body-img img {
        width: 100%;
        height: 550px;
    }

    .body-bar {
        width: 550px;
    }
}

@media only screen and (max-width: 1360px) {
    .container {
        padding: 0 30px;
    }

    .body-bar {
        width: 400px;
    }
}

@media only screen and (max-width:1275px) {}

@media only screen and (max-width:1110px) {
    .body-img img {
        height: 400px;
    }
}

@media only screen and (max-width:1000px) {
    .title {
        font-size: 16px;
    }

    .text {
        font-size: 25px;
    }

    .title span {
        font-size: 16px;
    }

    .content-body {
        flex-direction: column-reverse;
    }

    .body-bar {
        width: 100%;
    }
}

@media only screen and (max-width:533px) {
    .container {
        padding: 0px 10px;
    }
}

@media only screen and (max-width:520px) {
    .body-bar {
        padding: 10px;
    }
}

@media only screen and (max-width:460px) {
    .body-img img {
        height: 300px;
    }

    .show-options-container {
        font-size: 17px;
        gap: 5px;
    }

    .text {
        font-size: 20px;
    }

    .title-bar {
        font-size: 19px;
    }

    .body-text {
        font-size: 18px;
    }
}

/* 
@media only screen and (max-width: 930px) {
    .body-img img {
        width: 440px;
        height: 380px;
    }

    .show-options-container {
        display: flex;
        flex-direction: column;
        word-break: break-word;
        overflow-wrap: break-word;
    }
}

@media only screen and (max-width:916px) {
    .body-main {
        flex-direction: column;
    }

    .body-bar {
        margin-top: 10px;
        margin-left: 0px;
    }

    .body-img {
        width: 100%;
    }

    .body-img img {
        width: 100%;
    }
}

@media only screen and (max-width:811px) {
    .table-exel p {
        padding: 0px 25px;
    }
}

@media only screen and (max-width:520px) {
    .body-img img {
        width: 100%;
        height: 300px;
    }

    .card-body-content p {
        font-size: 15px;
    }

    .card-body-content {
        padding: 20px 10px;
    }

    .card-body-content span {
        font-size: 11px;
    }

    .body-bar {
        padding: 10px;
    }

    .container {
        padding: 0px 10px;
    }

    .title span {
        font-size: 13px;
    }

    .title {
        font-size: 13px;
    }

    .text {
        line-height: 26px;
        font-size: 17px;
        margin-top: 0px;
    }

    .title-content {
        margin-top: 10px;
        font-size: 20px;
        line-height: 25px;
    }

    .content-body {
        margin-top: 0px;
    }

    .show-options-container {
        font-size: 15px;
    }

    .body-text {
        display: block;
        font-size: 15px;
        line-height: 24px;
    }

    .title-bar {
        font-size: 20px;
    }
}

@media only screen and (max-width:462px) {
    .table-exel {
        padding: 0px;
    }

    .table-exel p {
        padding: 0px 15px;
        font-size: 10px;
    }

    .active_date_table {
        padding: 0px 10px;
    }
} */