<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-content-in">
            <div class="footer-text">
              <div class="left-text">
                <div>
                    
                </div>
              </div>
              <div class="right-text"></div>
            </div>
            <div class="footer-middle">middle</div>
            <div class="footer-bottom">bottom</div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
