<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link
      href="https://example.com/path-to-museo-sans-cyrl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header-container">
      <div class="header-content">
        <div class="header-content-in">
          <div class="header-left">
            <div class="header-icon">
              <img src="/image/error.png" class="error-img-out" alt="" />
              <img src="/image/error_in.png" class="error-img-in" alt="" />
            </div>
            <div class="header-text">
              <p>Сайт тест режимида ишламоқда</p>
            </div>
          </div>
          <div class="header-right">
            <div class="phone-number">
              <img src="/image/phone.png" alt="" />
              <span>+ (998) 71-232-50-53</span>
            </div>
            <div class="email">
              <img src="/image/email.png" alt="" />
              <span>info@ima.uz</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-conteiner">
      <div class="middle-content">
        <div class="middle-content-in">
          <div class="middle-text">
            <div class="logo">
              <img src="/image/logo.png" alt="" />
            </div>
            <div class="text">
              <p class="title">
                ЎЗБEКИСТОН РEСПУБЛИКАСИ АДЛИЯ ВАЗИРЛИГИ ҲУЗУРИДАГИ
              </p>
              <p class="body">«ИНТEЛЛEКТУАЛ МУЛК МАРКАЗИ» ДАВЛАТ МУАССАСАСИ</p>
            </div>
          </div>
          <div class="middle-btns">
            <div class="btn">
              <img src="/image/glass.png" alt="" />
              <p>Махсус имкониятлар</p>
            </div>
            <div class="btn">
              <img src="/image/phone_app.png" alt="" />
              <p>Мобил версия</p>
            </div>
            <div class="btn">
              <img src="/image/search.png" alt="" />
              <p>Излаш</p>
            </div>
            <div class="btn">
              <img src="/image/flag.png" alt="" />
              <p>Ўзбекча</p>
              <img class="drop-down" src="/image/drow_down_header.png" alt="" />
            </div>
            <div class="btn">
              <div class="instagram-icon">
                <img class="inst-border" src="/image/insta_border.png" alt="" />
                <img class="inst-crcle" src="/image/insta_srcel.png" alt="" />
                <img class="inst-dot" src="/image/insta_dot.png" alt="" />
              </div>
              <img src="/image/facebook.png" alt="" />
              <img src="/image/telegram.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-in">
        <div class="bottom-elements">
          <div class="show-footer">
            <img src="/image/menu_bar.png" width="32px" alt="" />
          </div>
          <div class="select-page">
            <div class="column-first-select">
              <div class="select-container">
                <label for="selectPage1">
                  <span> Марказ ҳақида </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <img src="/image/line.png" class="line" alt="" />
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option
                    value="/page/markaz_tarixi/vazifa_va_funksiyalar.html"
                  >
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span> Асосий фаолият</span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option
                    value="/page/markaz_tarixi/vazifa_va_funksiyalar.html"
                  >
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span>Ҳужжатлар </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option
                    value="/page/markaz_tarixi/vazifa_va_funksiyalar.html"
                  >
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span> Ҳамкорлик </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option
                    value="/page/markaz_tarixi/vazifa_va_funksiyalar.html"
                  >
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span> Марказ хизматлари </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option
                    value="/page/markaz_tarixi/vazifa_va_funksiyalar.html"
                  >
                    vazifalar
                  </option>
                </select>
              </div>
            </div>
            <div class="column-second-select">
              <div class="select-container">
                <label for="selectPage1">
                  <span> Интерактив хизматлар </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option value="/page/markaz_tarixi/vazifa_va_funksiyalar.html">
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span> Очиқ маълумотлар </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option value="/page/markaz_tarixi/vazifa_va_funksiyalar.html">
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span> Медиатека </span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option value="/page/markaz_tarixi/vazifa_va_funksiyalar.html">
                    vazifalar
                  </option>
                </select>
              </div>
              <div class="select-container">
                <label for="selectPage1">
                  <span> Боғланиш</span>
                  <img src="/image/drop_down.png" alt="Dropdown Arrow" />
                </label>
                <select id="selectPage1" class="selection">
                  <option value="/page/markaz_tarixi/markaz_tarixi.html">
                    Markaz Tarixi
                  </option>
                  <option value="/page/markaz_tarixi/vazifa_va_funksiyalar.html">
                    vazifalar
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
